<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.u_anywhere.mappers.TestPrintwavenoMapper">
  <resultMap id="BaseResultMap" type="com.u_anywhere.model.TestPrintwaveno">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="WaveNo" jdbcType="VARCHAR" property="waveno" />
    <result column="PrintCount" jdbcType="INTEGER" property="printcount" />
    <result column="DBCount" jdbcType="INTEGER" property="dbcount" />
  </resultMap>
</mapper>